div {
    outline: 2px solid gray;
    outline-offset: 25px;

}
body,footer {
    width: 300px; 
	margin-left: auto; 
	margin-right: auto; 
    padding-top: 100px;
    
}

    


#continue, #create-account
{background: #fcc734;
     width: 100%;
}
#create-account {background :rgba(128, 128, 128, 0.353); }
#account, #password {width: 100%}
#forget-passord {float: right;
    color: blue;
    }